.ourstory-container{
  margin-top: 87px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 551px;

  .ourstory-text{
width: 658px;
height: 100%;
border: 2px solid red;
  }
  .ourstory-photo{
    height: 100%;
    background-image: url('./story.png');
    width: 777px;
  }
}