.newNoom-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 95px;
  h1{
    font-weight: 600;
    font-size: 48px;
    margin-bottom: 14px;
  }
  .morning-routine-text{
    font-weight: 400;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 640px;

    p{
      margin: 0px;
    }
  }
}