@keyframes slide {
  from {
    margin-top: -380px;
  }
  to {
    margin-top: 80px;
  }
}
.modal-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 100%;
  color: white;
  background: rgba(0, 0, 0, 0.283);
  height: 100vh;
  .modal-container-top {
    border-radius: 5px;
    margin-top: 80px;
    background: #313131;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 50%;
    animation-name: slide;
    animation-duration: 0.8s;
    animation-direction: alternate;
    .modal-top {
      display: flex;
      align-items: center;
      width: 90%;
      img {
        width: 24px;
        height: 24px;
        margin-right: 20px;
      }
      input {
        background-color: inherit;
        border: none;
        border-bottom: 1px solid #fff;
        color: #757575;
        font-size: 20px;
        padding-left: 4px;
        width: 100%;
      }
    }
  }
  .modal-container-bottom {
    border-radius: 5px;
    background: #313131;
    margin-top: 12px;
    width: 50%;
    height: 290px;
    .modal-bottom {
      padding: 20px;
      .recent {
        color: #757575;
      }
      .looking-for {
        display: flex;
        .button {
          background-color: #fff;
          color: #313131;
        }
        .button-dark {
          background-color: #757575;
          color: #fff;
        }
      }
    }
  }
}
