.brewGuides-container {
  margin-left: auto;
  margin-right: auto;
  header {
    text-align: center;
  }
  .guides {
    // border: 2px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
    .chemex-hero {
      // border: 2px solid red;
      width: 50%;
      height: 645px;
    }
    .guide-right {
      // border: 2px solid red;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      // width: 50%;
      // margin-left: 16px;
      .guides-card {
        // border: 2px solid red;
        margin: 16px;
        height: 305px;
        width: 412px;
        img{
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
