.navbar-container {
  background-color: inherit;
  color: inherit;
  font-weight: 500;
  width: 100%;
  height: 80px;
  top: 0px;
  position: fixed;
  z-index: 100;
  nav {
    background-color: inherit;
    color: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 150px;
    margin-right: 150px;
    height: 80px;
    left: 0px;
    top: 0px;
    img {
      cursor: pointer;
    }
    .moonLogo {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .navbar-items {
      width: 500px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0px;

      li {
        list-style: none;
        a {
          color: inherit;
          text-decoration: none;
          transition: all;
        }
      }
    }
    .navbar-icons {
      img {
        height: 25px;
        margin: 0px 10px 0px 10px;
      }
    }
  }
}
